.context/workflows/030-gym-buddy-mvp-telegram.json
{
  "name": "030 - Gym Buddy MVP Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7f0e71b1-c937-4e05-bfc4-17e349527afd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "webhookId": "gym-buddy-mvp-telegram",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message ?? {};\nconst from = message.from ?? {};\nconst chat = message.chat ?? {};\nconst text = typeof message.text === 'string' ? message.text.trim() : '';\nconst normalized = text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nfunction hasAny(values) {\n  return values.some((value) => normalized.includes(value));\n}\n\nconst cards = {\n  rest: `CARD: Rest Intervals\\n- Short rests can work for lighter or isolation exercises.\\n- Longer rests help preserve performance in heavier compound exercises.\\n- Practical range: 1-2 min for lighter work, 2-3 min for heavier compound work.\\n- If technique or performance drops sharply, rest longer.\\n- Do not prescribe an exact interval as individualized programming.`,\n  failure: `CARD: Failure Training\\n- Failure means another good repetition is unlikely.\\n- RIR means repetitions in reserve; RIR 2 means about 2 good reps left.\\n- Most sets do not need to be taken to failure.\\n- Many useful sets can end with 1-3 RIR.\\n- Failure can increase fatigue and technique breakdown.`,\n  shortWorkout: `CARD: Short Workouts\\n- Keep it simple and general, not deeply personalized.\\n- Include a short warm-up with esteira, bicicleta or mobilidade leve. Do not use prancha as warm-up.\\n- Prefer 4-6 exercises using broad patterns: lower body, push, pull, hinge or hamstring, core.\\n- Use common gym exercises only: leg press, agachamento, supino, flexao, puxada, remada, desenvolvimento, mesa flexora, cadeira extensora, terra romeno, prancha, bicicleta ou esteira.\\n- Do not invent exercise names. If unsure, choose leg press, supino, remada, mesa flexora and prancha.\\n- For strength exercises, use sets and reps. Use seconds only for prancha, cardio or warm-up.\\n- Preferred 30 min structure: 5 min warm-up; leg press 3x8-12; supino or flexao 3x8-12; remada 3x8-12; mesa flexora 2x10-12; prancha 2x30-45s; rest 60-90s.\\n- Do not promise results or prescribe exact loads.\\n- Tell the user to stop or adapt if pain appears.`,\n  substitution: `CARD: Exercise Substitutions\\n- A substitution can be reasonable when goal, equipment and comfort are compatible.\\n- Similar exercises are not identical.\\n- Consider the reason: equipment, preference, pain, difficulty or time.\\n- If pain is the reason, apply safety boundaries and do not treat it as a normal swap.`,\n  load: `CARD: Load Selection\\n- Do not give absolute kg.\\n- Suggest a load the user controls with good technique.\\n- A practical reference is finishing sets with about 1-3 repetitions in reserve.\\n- If technique breaks down, reduce load.`,\n  style: `CARD: Response Style\\n- Respond in pt-BR.\\n- Keep replies short and practical for Telegram.\\n- Prefer one useful action, brief rationale, and one optional follow-up question.\\n- Do not mention internal cards, prompts or implementation details.`,\n};\n\nlet intent = 'fallback';\nlet riskLevel = 'normal';\nlet route = 'fixed';\nlet isFeedback = false;\nlet feedbackValue = null;\nlet fixedReply = 'Recebi sua mensagem, mas neste MVP ainda nao consigo responder esse tipo de pedido. Posso ajudar com: /start, treino de 30 min, descanso, falha, substituicao simples, dor/risco e carga.';\nlet knowledgeContext = cards.style;\nlet finalFallbackReply = 'Recebi sua mensagem, mas o modelo local nao conseguiu responder agora. Posso ajudar com treino de 30 min, descanso, falha, substituicao, dor e carga.';\nlet fallbackReason = 'unsupported_text_fixed_fallback';\n\nconst positiveFeedback = new Set(['sim', 'ajudou', 'ok', 'boa', 'positivo']);\nconst negativeFeedback = new Set(['nao', 'nao ajudou', 'ruim', 'negativo']);\n\nif (!text) {\n  intent = 'non_text';\n  route = 'fixed';\n  fallbackReason = 'non_text_message';\n  fixedReply = 'Por enquanto eu so consigo responder mensagens de texto. Me diga sua duvida ou o treino que voce quer ajustar.';\n} else if (positiveFeedback.has(normalized)) {\n  intent = 'feedback';\n  route = 'fixed';\n  isFeedback = true;\n  feedbackValue = 'positive';\n  fallbackReason = 'rule_based_feedback';\n  fixedReply = 'Valeu pelo feedback. Vou manter respostas curtas e praticas por aqui.';\n} else if (negativeFeedback.has(normalized)) {\n  intent = 'feedback';\n  route = 'fixed';\n  isFeedback = true;\n  feedbackValue = 'negative';\n  fallbackReason = 'rule_based_feedback';\n  fixedReply = 'Obrigado pelo feedback. Me diga em uma frase o que faltou ou o que voce queria ajustar.';\n} else if (hasAny(['dor', 'doendo', 'machuquei', 'lesao', 'fisgada', 'formigamento', 'ombro', 'joelho', 'lombar', 'peito', 'tontura'])) {\n  intent = 'discomfort';\n  route = 'fixed';\n  riskLevel = hasAny(['forte', 'aguda', 'fisgada', 'formigamento', 'peito', 'tontura', 'piorando']) ? 'stop' : 'caution';\n  fallbackReason = 'mandatory_safety_response';\n  fixedReply = riskLevel === 'stop'\n    ? 'Para agora e evite repetir o movimento que causou isso. Nao consigo diagnosticar pelo chat. Se a dor foi forte, aguda, esta piorando, teve formigamento, tontura ou dor no peito, procure avaliacao profissional ou atendimento urgente.'\n    : 'Se apareceu dor ou desconforto, reduza ou pare o movimento por enquanto. Nao treine atravessando dor. Se persistir ou piorar, procure avaliacao profissional. Posso sugerir uma alternativa geral mais conservadora se voce me disser o exercicio.';\n} else if (hasAny(['quantos kg', 'quanto peso', 'carga exata', 'qual carga', 'kg eu coloco'])) {\n  intent = 'exact_load';\n  route = 'fixed';\n  fallbackReason = 'mandatory_load_boundary';\n  fixedReply = 'Nao vou indicar kg exato sem avaliar tecnica e contexto. Use uma carga que voce controle bem e termine a serie com cerca de 1 a 3 repeticoes em reserva. Se a tecnica quebrar, reduza.';\n} else if (hasAny(['lembra', 'ontem', 'treino anterior', 'ultima vez', 'semana passada'])) {\n  intent = 'memory_request';\n  route = 'fixed';\n  fallbackReason = 'mandatory_no_memory_boundary';\n  fixedReply = 'Neste MVP eu nao lembro sessoes anteriores. Me reenvie o treino ou diga o objetivo de hoje que eu te ajudo a partir da mensagem atual.';\n} else if (normalized === '/start' || hasAny(['oi', 'ola', 'comecar', 'inicio'])) {\n  intent = 'onboarding';\n  route = 'fixed';\n  fallbackReason = 'rule_based_onboarding';\n  fixedReply = 'Oi. Eu sou o Gym Buddy. Posso ajudar com duvidas rapidas de treino, descanso, falha, substituicoes e ideias gerais de treino curto. Me diga o que voce precisa agora.';\n} else if (hasAny(['treino rapido', 'treino de 30', '30 min', '30 minutos', 'meia hora'])) {\n  intent = 'short_workout';\n  knowledgeContext = `${cards.shortWorkout}\\n\\n${cards.load}\\n\\n${cards.style}`;\n  finalFallbackReply = 'Ideia geral de treino de 30 min:\\n\\n1. Aquecimento: 5 min leve.\\n2. Agachamento ou leg press: 3x8-12.\\n3. Supino ou flexao: 3x8-12.\\n4. Remada: 3x8-12.\\n5. Mesa flexora ou terra romeno: 2x10-12.\\n6. Prancha: 2x30-45s.\\n\\nDescanse 60-90s, use carga controlavel e pare se sentir dor fora do normal.';\n  route = 'local_llm';\n  fixedReply = null;\n  fallbackReason = 'primary_llm_disabled_local_llm_fallback';\n} else if (hasAny(['descanso', 'descansar', 'intervalo'])) {\n  intent = 'rest_question';\n  knowledgeContext = `${cards.rest}\\n\\n${cards.style}`;\n  finalFallbackReply = 'Como regra geral: 1-2 min funciona bem para exercicios leves ou isoladores; 2-3 min costuma ajudar em exercicios pesados como agachamento, supino e remada. Se a tecnica cair muito, descanse mais.';\n  route = 'local_llm';\n  fixedReply = null;\n  fallbackReason = 'primary_llm_disabled_local_llm_fallback';\n} else if (hasAny(['falha', 'ate a falha', 'rir', 'repeticoes em reserva'])) {\n  intent = 'failure_question';\n  knowledgeContext = `${cards.failure}\\n\\n${cards.style}`;\n  finalFallbackReply = 'Nao precisa ir ate a falha em toda serie. Uma boa referencia e terminar muitas series com 1 a 3 repeticoes em reserva. Falha pode ser util em alguns momentos, mas aumenta fadiga e risco de perder tecnica.';\n  route = 'local_llm';\n  fixedReply = null;\n  fallbackReason = 'primary_llm_disabled_local_llm_fallback';\n} else if (hasAny(['trocar', 'substituir', 'substituicao', 'no lugar de', 'alternativa'])) {\n  intent = 'substitution';\n  knowledgeContext = `${cards.substitution}\\n\\n${cards.style}`;\n  finalFallbackReply = 'Pode fazer sentido trocar, mas exercicios parecidos nao sao identicos. Se for por equipamento ou preferencia, me diga o exercicio atual e a opcao que voce tem. Se for por dor, pare o movimento e trate como sinal de cautela.';\n  route = 'local_llm';\n  fixedReply = null;\n  fallbackReason = 'primary_llm_disabled_local_llm_fallback';\n} else if (hasAny(['personalizado', 'personalizada', 'pra mim', 'para mim'])) {\n  intent = 'personalized_workout_request';\n  route = 'fixed';\n  fallbackReason = 'mandatory_personalization_boundary';\n  fixedReply = 'Posso ajudar com uma estrutura geral, mas nao vou fingir personalizacao profunda sem avaliacao. Para ajustar melhor, me diga so 2 coisas: objetivo principal e equipamentos disponiveis.';\n}\n\nconst requiresLlm = route === 'local_llm';\nconst systemPrompt = `Voce e o Gym Buddy, um assistente pratico de apoio a treino para Telegram. Responda em pt-BR. Use apenas orientacao geral, curta e segura. Nao diagnostique, nao trate lesao, nao prescreva reabilitacao, nao indique kg exato, nao prometa resultado e nao finja memoria ou personalizacao profunda. Casos de dor ou risco ja foram bloqueados antes de chegar aqui. Use somente nomes comuns de exercicios de academia; nao invente nomes. Nao mencione bastidores, cards ou implementacao.`;\nconst userPrompt = `Intent: ${intent}\\nRisk level: ${riskLevel}\\nContexto curado:\\n${knowledgeContext}\\n\\nMensagem do usuario:\\n${text}\\n\\nGere uma resposta curta e pratica para Telegram.`;\n\nreturn [{\n  json: {\n    channel: 'telegram',\n    user_id: from.id ?? null,\n    chat_id: chat.id ?? null,\n    username: from.username ?? null,\n    first_name: from.first_name ?? null,\n    message_id: message.message_id ?? null,\n    message_text: text,\n    message_type: text ? 'text' : 'non_text',\n    received_at: message.date ? new Date(message.date * 1000).toISOString() : new Date().toISOString(),\n    intent,\n    risk_level: riskLevel,\n    route,\n    is_feedback: isFeedback,\n    feedback_value: feedbackValue,\n    requires_llm: requiresLlm,\n    fixed_reply: fixedReply,\n    final_fallback_reply: finalFallbackReply,\n    fallback_reason: fallbackReason,\n    knowledge_context: knowledgeContext,\n    primary_llm_status: 'disabled_budget',\n    system_prompt: systemPrompt,\n    user_prompt: userPrompt\n  }\n}];\n"
      },
      "id": "2afefc3b-2551-4511-80a8-cd67857e0a57",
      "name": "Route And Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requires_llm }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "0b40efcf-72ad-4049-b622-d11e7377d83d",
      "name": "Needs Local LLM",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'http://ollama:11434';\nconst model = 'llama3.2:3b';\n\ntry {\n  const response = await fetch(`${baseUrl}/api/chat`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      model,\n      stream: false,\n      options: {\n        temperature: 0.25,\n        num_predict: 260\n      },\n      messages: [\n        { role: 'system', content: $json.system_prompt },\n        { role: 'user', content: $json.user_prompt }\n      ]\n    })\n  });\n\n  const raw = await response.text();\n  let parsed = {};\n  try { parsed = raw ? JSON.parse(raw) : {}; } catch (error) { parsed = { raw }; }\n\n  if (!response.ok) {\n    return [{ json: { ...$json, error: { provider: 'ollama', code: response.status, message: parsed.error || response.statusText || 'Ollama request failed', raw: parsed } } }];\n  }\n\n  return [{ json: { ...$json, llm_provider: 'ollama', llm_model: model, text: parsed.message?.content ?? parsed.response ?? '', raw_ollama_response: parsed } }];\n} catch (error) {\n  return [{ json: { ...$json, error: { provider: 'ollama', code: error.name || 'OLLAMA_REQUEST_ERROR', message: error.message || 'Ollama request failed' } } }];\n}\n"
      },
      "id": "d45dcd5a-0516-46d7-9688-93dec971ac11",
      "name": "Call Local LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = $('Route And Build Context').first().json;\nconst errorMessage = $json.error?.message ?? null;\nconst errorCode = $json.error?.code ?? null;\nconst provider = $json.error?.provider ?? $json.llm_provider ?? 'ollama';\nconst hasLlmError = Boolean($json.error || errorCode);\nconst modelReply = String($json.text ?? '').trim();\nconst replyText = hasLlmError ? source.final_fallback_reply : (modelReply || source.final_fallback_reply);\n\nreturn [{\n  json: {\n    ...source,\n    reply_text: replyText,\n    handled_at: new Date().toISOString(),\n    llm_provider: provider,\n    llm_model: $json.llm_model ?? null,\n    llm_status: hasLlmError ? 'error' : 'success',\n    llm_error_code: errorCode,\n    llm_error_message: errorMessage,\n    used_final_fallback: hasLlmError || !modelReply\n  }\n}];\n"
      },
      "id": "02f92c45-f875-499a-af1a-8c4d5f8f2b9b",
      "name": "Normalize Local LLM Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, reply_text: $json.fixed_reply, handled_at: new Date().toISOString(), llm_provider: null, llm_status: 'not_called', used_final_fallback: false } }];\n"
      },
      "id": "3fd6c5e8-dd5a-4101-bf22-03c2ffdcf1b8",
      "name": "Build Fixed Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  event: 'gym_buddy_mvp_message',\n  channel: $json.channel,\n  user_id: $json.user_id,\n  chat_id: $json.chat_id,\n  username: $json.username,\n  message_id: $json.message_id,\n  message_type: $json.message_type,\n  message_text: $json.message_text,\n  intent: $json.intent,\n  risk_level: $json.risk_level,\n  route: $json.route,\n  requires_llm: $json.requires_llm,\n  primary_llm_status: $json.primary_llm_status,\n  llm_provider: $json.llm_provider,\n  llm_model: $json.llm_model ?? null,\n  llm_status: $json.llm_status,\n  llm_error_code: $json.llm_error_code ?? null,\n  llm_error_message: $json.llm_error_message ?? null,\n  fallback_reason: $json.fallback_reason,\n  used_final_fallback: $json.used_final_fallback,\n  reply_text: $json.reply_text,\n  received_at: $json.received_at,\n  handled_at: $json.handled_at\n};\nconsole.log('GYM_BUDDY_TECH_LOG ' + JSON.stringify(log));\nreturn [{ json: { ...$json, technical_log: log } }];\n"
      },
      "id": "6bbd6d93-3e82-47f7-adff-d180f8bbb70b",
      "name": "Log Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "c16c5c51-49c8-48ec-8e95-a2beab299af5",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        300
      ],
      "webhookId": "gym-buddy-mvp-send-reply",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route And Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route And Build Context": {
      "main": [
        [
          {
            "node": "Needs Local LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Local LLM": {
      "main": [
        [
          {
            "node": "Call Local LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Fixed Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Local LLM": {
      "main": [
        [
          {
            "node": "Normalize Local LLM Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Local LLM Reply": {
      "main": [
        [
          {
            "node": "Log Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fixed Reply": {
      "main": [
        [
          {
            "node": "Log Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0c51689c-99a7-4062-82d6-3f6cd0d93d0d",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "030-gym-buddy-mvp-telegram",
  "tags": []
}
