.context/workflows/030-gym-buddy-mvp-telegram.json
{
  "name": "030 - Gym Buddy MVP Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7f0e71b1-c937-4e05-bfc4-17e349527afd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        300
      ],
      "webhookId": "gym-buddy-mvp-telegram",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message ?? {};\nconst from = message.from ?? {};\nconst chat = message.chat ?? {};\nconst text = typeof message.text === 'string' ? message.text.trim() : '';\nconst normalized = text.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\n\nfunction hasAny(values) {\n  return values.some((value) => normalized.includes(value));\n}\n\nconst positiveFeedback = new Set(['sim', 'ajudou', 'ok', 'boa', 'positivo']);\nconst negativeFeedback = new Set(['nao', 'nao ajudou', 'ruim', 'negativo']);\n\nlet intent = 'fallback';\nlet riskLevel = 'normal';\nlet isFeedback = false;\nlet feedbackValue = null;\nlet requiresLlm = Boolean(text);\nlet fixedReply = null;\nlet fallbackReason = null;\n\nif (!text) {\n  intent = 'non_text';\n  requiresLlm = false;\n  fallbackReason = 'non_text_message';\n  fixedReply = 'Por enquanto eu so consigo responder mensagens de texto. Me diga sua duvida ou o treino que voce quer ajustar.';\n} else if (normalized === '/start' || hasAny(['oi', 'ola', 'comecar', 'inicio'])) {\n  intent = 'onboarding';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_onboarding';\n  fixedReply = 'Oi. Eu sou o Gym Buddy. Posso ajudar com duvidas rapidas de treino, descanso, falha, substituicoes e ideias gerais de treino curto. Me diga o que voce precisa agora.';\n} else if (positiveFeedback.has(normalized)) {\n  intent = 'feedback';\n  isFeedback = true;\n  feedbackValue = 'positive';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_feedback';\n  fixedReply = 'Valeu pelo feedback. Vou manter respostas curtas e praticas por aqui.';\n} else if (negativeFeedback.has(normalized)) {\n  intent = 'feedback';\n  isFeedback = true;\n  feedbackValue = 'negative';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_feedback';\n  fixedReply = 'Obrigado pelo feedback. Me diga em uma frase o que faltou ou o que voce queria ajustar.';\n} else if (hasAny(['dor', 'doendo', 'machuquei', 'lesao', 'fisgada', 'formigamento', 'ombro', 'joelho', 'lombar', 'peito', 'tontura'])) {\n  intent = 'discomfort';\n  riskLevel = hasAny(['forte', 'aguda', 'fisgada', 'formigamento', 'peito', 'tontura', 'piorando']) ? 'stop' : 'caution';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_safety';\n  fixedReply = riskLevel === 'stop'\n    ? 'Para agora e evite repetir o movimento que causou isso. Nao consigo diagnosticar pelo chat. Se a dor foi forte, aguda, esta piorando, teve formigamento, tontura ou dor no peito, procure avaliacao profissional ou atendimento urgente.'\n    : 'Se apareceu dor ou desconforto, reduza ou pare o movimento por enquanto. Nao treine atravessando dor. Se persistir ou piorar, procure avaliacao profissional. Posso sugerir uma alternativa geral mais conservadora se voce me disser o exercicio.';\n} else if (hasAny(['quantos kg', 'quanto peso', 'carga exata', 'qual carga', 'kg eu coloco'])) {\n  intent = 'exact_load';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_exact_load';\n  fixedReply = 'Nao vou indicar kg exato sem avaliar tecnica e contexto. Use uma carga que voce controle bem e termine a serie com cerca de 1 a 3 repeticoes em reserva. Se a tecnica quebrar, reduza.';\n} else if (hasAny(['lembra', 'ontem', 'treino anterior', 'ultima vez', 'semana passada'])) {\n  intent = 'memory_request';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_no_memory';\n  fixedReply = 'Neste MVP eu nao lembro sessoes anteriores. Me reenvie o treino ou diga o objetivo de hoje que eu te ajudo a partir da mensagem atual.';\n} else if (hasAny(['personalizado', 'personalizada', 'pra mim', 'para mim'])) {\n  intent = 'personalized_workout_request';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_personalization_boundary';\n  fixedReply = 'Posso ajudar com uma estrutura geral, mas nao vou fingir personalizacao profunda sem avaliacao. Para ajustar melhor, me diga so 2 coisas: objetivo principal e equipamentos disponiveis.';\n} else if (hasAny(['treino rapido', 'treino de 30', '30 min', '30 minutos', 'meia hora'])) {\n  intent = 'short_workout';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_short_workout';\n  fixedReply = 'Ideia geral de treino de 30 min:\\n\\n1. Aquecimento: 5 min leve.\\n2. Agachamento ou leg press: 3x8-12.\\n3. Supino ou flexao: 3x8-12.\\n4. Remada: 3x8-12.\\n5. Levantamento terra romeno ou mesa flexora: 2x10-12.\\n6. Prancha: 2x30-45s.\\n\\nDescanse 60-90s. Use carga controlavel e pare se sentir dor fora do normal. Isso ajudou?';\n} else if (hasAny(['descanso', 'descansar', 'intervalo'])) {\n  intent = 'rest_question';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_rest';\n  fixedReply = 'Como regra geral: 1-2 min funciona bem para exercicios leves ou isoladores; 2-3 min costuma ajudar em exercicios pesados como agachamento, supino e remada. Se a tecnica cair muito, descanse mais.';\n} else if (hasAny(['falha', 'ate a falha', 'rir', 'repeticoes em reserva'])) {\n  intent = 'failure_question';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_failure';\n  fixedReply = 'Nao precisa ir ate a falha em toda serie. Uma boa referencia e terminar muitas series com 1 a 3 repeticoes em reserva. Falha pode ser util em alguns momentos, mas aumenta fadiga e risco de perder tecnica.';\n} else if (hasAny(['trocar', 'substituir', 'substituicao', 'no lugar de', 'alternativa'])) {\n  intent = 'substitution';\n  requiresLlm = false;\n  fallbackReason = 'rule_based_substitution';\n  fixedReply = 'Pode fazer sentido trocar, mas exercicios parecidos nao sao identicos. Se for por equipamento ou preferencia, me diga o exercicio atual e a opcao que voce tem. Se for por dor, pare o movimento e trate como sinal de cautela.';\n}\n\nconst systemPrompt = `Voce e o Gym Buddy, um assistente pratico de apoio a treino para conversas pelo Telegram.\n\nSeu objetivo neste MVP e ajudar o usuario com orientacoes gerais, curtas e seguras sobre treino, sem fingir personalizacao profunda e sem lembrar sessoes anteriores.\n\nEscopo permitido:\n- abrir uma sessao e explicar rapidamente como pode ajudar;\n- responder duvidas avulsas sobre treino;\n- sugerir substituicao simples de exercicio quando o motivo for equipamento, preferencia ou conforto geral;\n- montar uma ideia geral de treino curto quando o usuario pedir algo simples;\n- explicar conceitos de treino em linguagem simples;\n- redirecionar casos de dor, lesao ou risco para uma conduta segura;\n- receber feedback simples sobre a resposta.\n\nEscopo proibido:\n- nao diagnosticar lesoes, doencas ou causas de dor;\n- nao propor tratamento de lesao;\n- nao propor reabilitacao;\n- nao fazer prescricao individual como se conhecesse historico, avaliacao fisica ou restricoes do usuario;\n- nao indicar carga absoluta em kg;\n- nao prometer resultado;\n- nao fingir personalizacao profunda;\n- nao lembrar, citar ou depender de sessoes anteriores;\n- nao dizer que consultou base de conhecimento, arquivos, Google Drive, embeddings, RAG ou memoria externa;\n- nao interpretar imagem, video ou exame.\n\nRegras de seguranca:\nSe o usuario mencionar dor forte, dor aguda, dor que piora, formigamento, perda de forca, tontura, falta de ar incomum, dor no peito, queda, trauma, lesao recente ou qualquer sinal de risco: nao trate como duvida normal de treino; recomende parar o exercicio ou evitar o movimento que provoca o sintoma; diga que nao consegue diagnosticar; oriente procurar avaliacao de profissional qualificado, e atendimento urgente se houver sinal grave; ofereca apenas alternativas gerais e conservadoras se fizer sentido.\n\nPersonalizacao:\nEste MVP nao tem memoria longitudinal. Nao diga que lembra treino, objetivo, historico, lesao ou preferencia do usuario. Quando faltar contexto, responda de forma geral ou faca no maximo 2 perguntas curtas. Deixe claro quando a resposta e uma orientacao geral.\n\nCargas e intensidade:\nNao indique carga absoluta em kg. Se o usuario pedir carga exata, explique que isso depende de tecnica, experiencia, fadiga e seguranca. Sugira uma referencia subjetiva, como usar uma carga que permita boa tecnica e termine a serie com cerca de 1 a 3 repeticoes em reserva, quando apropriado.\n\nTreino curto:\nQuando o usuario pedir treino curto e nao houver sinais de risco, voce pode sugerir um treino geral com aquecimento breve, 4 a 6 exercicios, series/repeticoes ou tempo, descanso aproximado e observacao de tecnica e seguranca. Nao apresente como plano individual definitivo.\n\nSubstituicao de exercicio:\nQuando o usuario pedir troca de exercicio, diga se a troca e plausivel em termos gerais, mencione que exercicios parecidos nao sao identicos, pergunte o motivo da troca quando isso for importante e aplique as regras de seguranca se o motivo for dor ou lesao.\n\nEstilo:\nResponda em pt-BR, de forma curta, direta e util para Telegram. Use frases simples e listas curtas quando ajudarem. Evite aulas longas, jargoes sem explicacao, excesso de disclaimers, respostas em JSON e inventar dados sobre o usuario.\n\nFeedback simples:\nQuando fizer sentido, termine com uma pergunta curta de feedback, por exemplo: Isso ajudou? Responda com \"sim\", \"nao\" ou diga o que quer ajustar.`;\n\nconst userPrompt = `Canal: Telegram\\nuser_id: ${from.id ?? ''}\\nchat_id: ${chat.id ?? ''}\\nusername: ${from.username ?? ''}\\nIntent detectada: ${intent}\\nRisco: ${riskLevel}\\nMensagem atual do usuario:\\n${text}`;\n\nreturn [\n  {\n    json: {\n      channel: 'telegram',\n      user_id: from.id ?? null,\n      chat_id: chat.id ?? null,\n      username: from.username ?? null,\n      first_name: from.first_name ?? null,\n      message_id: message.message_id ?? null,\n      message_text: text,\n      message_type: text ? 'text' : 'non_text',\n      received_at: message.date ? new Date(message.date * 1000).toISOString() : new Date().toISOString(),\n      intent,\n      risk_level: riskLevel,\n      is_feedback: isFeedback,\n      feedback_value: feedbackValue,\n      requires_llm: requiresLlm,\n      fixed_reply: fixedReply,\n      fallback_reason: fallbackReason,\n      system_prompt: systemPrompt,\n      user_prompt: userPrompt\n    }\n  }\n];\n"
      },
      "id": "2afefc3b-2551-4511-80a8-cd67857e0a57",
      "name": "Extract Telegram Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requires_llm }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "0b40efcf-72ad-4049-b622-d11e7377d83d",
      "name": "Needs LLM",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "chatModel": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "={{ $json.system_prompt }}"
            },
            {
              "role": "user",
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "simplifyOutput": true,
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "d45dcd5a-0516-46d7-9688-93dec971ac11",
      "name": "Call LLM",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        1020,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_N8N_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI credential"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const source = $('Extract Telegram Fields').first().json;\nconst errorMessage = $json.error?.message ?? $json.message ?? $json.description ?? null;\nconst errorCode = $json.error?.code ?? $json.httpCode ?? $json.statusCode ?? null;\nconst hasLlmError = Boolean($json.error || errorMessage?.toLowerCase?.().includes('quota') || errorCode);\nconst candidate = $json.text ?? $json.message?.content ?? $json.data?.[0]?.message?.content ?? $json.data?.[0]?.text ?? $json.choices?.[0]?.message?.content ?? '';\nconst modelReply = String(candidate || '').trim();\nconst replyText = hasLlmError\n  ? 'Estou com instabilidade para gerar a resposta agora. Sua mensagem chegou, mas o motor de IA nao conseguiu responder neste momento. Tente novamente em alguns minutos.'\n  : (modelReply || 'Nao consegui gerar uma resposta agora. Tente reformular a mensagem em texto.');\n\nreturn [\n  {\n    json: {\n      ...source,\n      reply_text: replyText,\n      handled_at: new Date().toISOString(),\n      llm_status: hasLlmError ? 'error' : 'success',\n      llm_error_code: errorCode,\n      llm_error_message: errorMessage\n    }\n  }\n];\n"
      },
      "id": "02f92c45-f875-499a-af1a-8c4d5f8f2b9b",
      "name": "Normalize LLM Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  event: 'gym_buddy_mvp_message',\n  channel: $json.channel,\n  user_id: $json.user_id,\n  chat_id: $json.chat_id,\n  username: $json.username,\n  message_id: $json.message_id,\n  message_type: $json.message_type,\n  message_text: $json.message_text,\n  is_feedback: $json.is_feedback,\n  feedback_value: $json.feedback_value,\n  requires_llm: $json.requires_llm,\n  llm_status: $json.llm_status ?? 'not_called',\n  llm_error_code: $json.llm_error_code ?? null,\n  llm_error_message: $json.llm_error_message ?? null,\n  reply_text: $json.reply_text,\n  received_at: $json.received_at,\n  handled_at: $json.handled_at\n};\nconsole.log('GYM_BUDDY_TECH_LOG ' + JSON.stringify(log));\nreturn [{ json: { ...$json, technical_log: log } }];\n"
      },
      "id": "6bbd6d93-3e82-47f7-adff-d180f8bbb70b",
      "name": "Log LLM Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      ...$json,\n      reply_text: $json.fixed_reply,\n      handled_at: new Date().toISOString()\n    }\n  }\n];\n"
      },
      "id": "3fd6c5e8-dd5a-4101-bf22-03c2ffdcf1b8",
      "name": "Build Fixed Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const log = {\n  event: 'gym_buddy_mvp_message',\n  channel: $json.channel,\n  user_id: $json.user_id,\n  chat_id: $json.chat_id,\n  username: $json.username,\n  message_id: $json.message_id,\n  message_type: $json.message_type,\n  message_text: $json.message_text,\n  is_feedback: $json.is_feedback,\n  feedback_value: $json.feedback_value,\n  requires_llm: $json.requires_llm,\n  llm_status: 'not_called',\n  llm_error_code: null,\n  llm_error_message: null,\n  reply_text: $json.reply_text,\n  received_at: $json.received_at,\n  handled_at: $json.handled_at\n};\nconsole.log('GYM_BUDDY_TECH_LOG ' + JSON.stringify(log));\nreturn [{ json: { ...$json, technical_log: log } }];\n"
      },
      "id": "9b8cfb1e-8248-45ac-822f-bb5dc55e3e8c",
      "name": "Log Fixed Path",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "c16c5c51-49c8-48ec-8e95-a2beab299af5",
      "name": "Send LLM Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        220
      ],
      "webhookId": "gym-buddy-mvp-send-llm-reply",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram credential"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {}
      },
      "id": "1a85f954-a2d1-47c4-85c3-b9551049b384",
      "name": "Send Fixed Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1540,
        420
      ],
      "webhookId": "gym-buddy-mvp-send-fixed-reply",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_N8N_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram credential"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Extract Telegram Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram Fields": {
      "main": [
        [
          {
            "node": "Needs LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs LLM": {
      "main": [
        [
          {
            "node": "Call LLM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Fixed Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM": {
      "main": [
        [
          {
            "node": "Normalize LLM Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize LLM Reply": {
      "main": [
        [
          {
            "node": "Log LLM Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log LLM Path": {
      "main": [
        [
          {
            "node": "Send LLM Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Fixed Reply": {
      "main": [
        [
          {
            "node": "Log Fixed Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Fixed Path": {
      "main": [
        [
          {
            "node": "Send Fixed Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc2e5559-2d69-4c7c-aebc-7012f41e7206",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "030-gym-buddy-mvp-telegram",
  "tags": []
}
